<div>
	<div>
		<h2>Portfolio</h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla.Vestibulum id ingula porta feilis eiuilsmod semper.
         present commando. magna, vel scelerique nisl conserctorlaur. fusce dapibus, tellus ac curosus commando.</p>
	</div>
<div class="container-fluid">
	<div class="row aligned-row">
		<div class="col-lg-4">
    	<div class="card">
      	<img class="card-img-top" src="//placehold.it/720x400" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title text-primary">Project Name</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
    	<div class="card">
      	<img class="card-img-top" src="//placehold.it/720x400" alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title text-primary">Project Name</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
    	<div class="card">
      	<img class="card-img-top" src="//placehold.it/720x400" alt="Card image cap">
				<div class="card-block card-padding">
					<h4 class="card-title text-primary">Project Name</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
		
		
	</div>

</div>
</div>